body{
	padding: 0px;
	margin: 0px;
}

.flex-content{
	display: flex;
	flex-direction: row-reverse;
}

@YELLOW:#C99C2D;

.yellowBtn{
	color: @YELLOW !important;
}

.rightMenu{
	flex:1;
	background: #191919;
	width:100%;
	min-height: 100vh;
	max-width: 	250px;
	border-right: 50px solid black;
	.container{
		padding-top: 100px;
		border-right: 5px solid rgba(255,255,255,0.2);
		min-height: 100%;
		box-sizing: border-box;
	}
	a{
		&.selected{ color:#C99C2D; border-right: 5px solid #C99C2D; }
		&:hover{  color:#C99C2D; };
		text-decoration: none;
		color:white;
		display: block;
		border-right: 5px solid white;
		padding: 20px 20px;
		padding-left: 0px;
		position: relative;
		left: 5px;
		font-weight: bold;
		text-align: right;
	}
}

.menuMobile{
	display: none !important;
	font-size: 2rem !important;
	color:white !important;
	position: fixed;
    z-index: 1000;
    cursor: pointer;
    right: 20px;
    top: 20px;
}

.btnCallToAction{
	background: @YELLOW !important;
	margin-top: 10px !important;
	display: block;
	color:white !important;
	padding:18px !important;
	font-size: 130% !important;
	width: 100% !important;
	color: white !important;
	font-weight: 900 !important;
}

.contentPage{

	width: 100%;
	flex:1;
	min-height: 100%;
	position: relative;
	&:before{
		content:'';
		position: absolute;
		left: 0;
		top:0;
		width:100%;
		height: 100%;
		background:url('https://i.redd.it/5c1t7ymiu1ez.jpg');
		background-size:cover;
		filter: blur(1px);
	}
	&:after{
		content:'';
		position:absolute;
		left: 0;
		top:0;
		width:100%;
		height: 100%;
		background:black;
		opacity: 0.5;
	}
	.container{
		display: flex;
		position: relative;
		z-index: 10;
		width: 100%;
		height: 100vh;
		overflow-y: auto;
		.pubg-char{
			&:after{
				content:'';
				position: fixed;
				background:url(img/281734713012211.png);
				background-size: cover;
				background-position: left;
				position: fixed;
				max-width:400px;
				width: 30%;
				height: 100%;
				transform: scaleX(-1);
			}
			max-width:400px;
			width: 30%;
			height: 100%;
			opacity: 1;
		}
		.main-content{
			color:white;
			margin-top: 100px;
			text-align: center;
			.box{
				width: 500px;
				margin:auto;
				background:rgba(0,0,0,0.7);
				border-radius: 16px;
				padding: 20px;
				margin-top:30px; 
				margin-bottom: 30px;
			}
		}
	}

}

@media screen and (max-width:950px){
	body{
		overflow: hidden;
	}
	.contentPage{
		.container{
			overflow-y: hidden !important;
			height: auto;
			min-height: 100vh;
		}
	}
	.menuMobile{
		display: block !important;
	}
	.rightMenu{
		display: none;
	}
}

@media screen and (max-width:759px){
	.pubg-char{
		display: none;
	}
	.main-content{
		width: calc( 100% - 20px );
		margin:auto;
		.box{
			margin-right: 10px !important;
			margin-left: 10px !important;
			width: auto !important;
		}
	}
}

.chip{
	cursor: pointer;
}

.statisticStyle{
	display: block !important;
	.value {
		color: white !important;
	}
	.label{
		color:@YELLOW !important;
	}
}

.users{
	.group{
		position: relative;
		background:white; box-sizing: border-box; padding: 10px;
		border-radius: 16px;
		margin:20px;
		.classement{
			position: absolute;
			left:-10px; top:-10px;
			background:@YELLOW;
			width:50px; height: 50px; line-height: 50px; vertical-align: middle;
			font-size:150%; border-radius: 50%;
		}
		.containerData{
			h1{	margin-bottom:12px; color: #5d5d5d; font-size: 180%;}
		}
	}
}


::-webkit-scrollbar {
  width: 11px;
  cursor: pointer;
  height: 11px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #C99C2D;
  border: 0px none #C99C2D;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #C99C2D;
}
::-webkit-scrollbar-thumb:active {
  background: #C99C2D;
}
::-webkit-scrollbar-track {
  background: #333333;
  border: 0px none #C99C2D;
  border-radius: 78px;
}
::-webkit-scrollbar-track:hover {
  background: #333333;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
